<%= simple_form_for :playlist_mp3s, url: add_playlist_mp3s_path, remote: true do |f| %>
  <table class="table table-striped table-hover table-bordered table-sm">
    <thead>
      <tr>
        <th class="text-center"><input type="checkbox" id="all"></th>
        <th>Artist</th>
        <th>Album</th>
        <th>Title</th>
        <th>Length</th>
        <th class="col-2">&nbsp;</th>
      </tr>
    </thead>
    <tbody class="mp3s">
      <% mp3s.each do |mp3| %>
        <tr class="align-middle">
          <td class="text-center"><input type="checkbox" name="mp3s[]" value="<%= mp3.id %>"></td>
          <td><%= link_to mp3.artist.name, 'javascript:;', data: {
              action: 'mp3s#doSearch',
              'mp3s-entity-param': 'artist',
              'mp3s-term-param': mp3.artist.name } %></td>
          <td><%= link_to mp3.album.name, 'javascript:;', data: {
              action: 'mp3s#doSearch',
              'mp3s-entity-param': 'album',
              'mp3s-term-param': mp3.album.name } %></td>
          <td><%= mp3.title %></td>
          <td><%= mp3.duration %></td>
          <td>
            <%= link_to 'Play', play_mp3_path(mp3), remote: true, class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Queue', playlist_mp3s_path(mp3_id: mp3.id), remote: true, method: :post, class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Edit', edit_mp3_path(mp3), remote: true, class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-striped table-hover table-bordered table-sm">
    <thead>
      <tr>
        <th colspan="2">Add To Playlist</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-1">
          <%= f.input :playlist_id, collection: Playlist.all, input_html: { class: 'form-select' }, label: false %>
        </td>
        <td class="pt-2"><button class="btn btn-primary btn-sm">Add</button></td>
      </tr>
    </tbody>
  </table>
<% end %>
