<nav class="navbar fixed-bottom navbar-light bg-light mb-0">
  <div class="container-fluid" data-controller="playlists-player" data-playlists-player-url="<%= next_playlist_path %>">
    <div class="col-8 text-center">
      <audio controls autoplay src="<%= src_mp3_path(mp3) %>" preload="auto">
        Your browser does not support the <code>audio</code> element.
      </audio>
    </div>
    <div class="col-4">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td class="col-1 text-end">Artist</td>
            <td><%= mp3.artist %></td>
          </tr>
          <tr>
            <td class="text-end">Album</td>
            <td><%= mp3.album %></td>
          </tr>
          <tr>
            <td class="text-end">Title</td>
            <td><%= mp3.title %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</nav>
