<div class="row pt-2">
  <div class="col-12" data-controller="playlists-play" data-playlists-play-url="<%= next_playlist_path %>">
    <h5>
      <%= link_to 'Playlists', playlists_path, remote: true %>
      &gt;
      <%= @playlist.name %>
    </h5>
    <table class="table table-striped table-hover table-bordered table-sm">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="px-2">Song</th>
          <th class="px-2">Artist</th>
          <th class="px-2">Album</th>
          <th class="px-2 tight">Length</th>
        </tr>
      </thead>
      <tbody>
        <% @playlist.mp3s.each do |mp3| %>
          <tr class="align-middle">
            <td class="text-end px-2 tight"><%= '➜' if mp3.id == session[:current_mp3_id] %></td>
            <td class="px-2"><%= mp3.title %></td>
            <td class="px-2"><%= mp3.artist %></td>
            <td class="px-2"><%= mp3.album %></td>
            <td class="text-center px-2"><%= mp3.duration %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
