<!DOCTYPE html>
<html>
  <head>
    <title>Player</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>
  <body>
    <div class="container-fluid overflow-hidden">
      <div class="row vh-100 overflow-auto">
        <%= render partial: 'shared/sidebar' %>
        <div class="col d-flex flex-column h-sm-100">
          <main class="row overflow-auto">
            <div id="main" class="col pt-1">
              <%= yield %>
            </div>
          </main>
          <footer id="player" class="row py-1 mt-auto"></footer>
        </div>
      </div>
    </div>
  </body>
</html>
